.transactionsContainer {
  background: rgb(48, 51, 78);
  color: rgba(234, 234, 255, 0.87);
  padding: 1rem;
  border-radius: 5px;

  .transactions {
    display: flex;
    font-size: 14px;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 3px;
    background: rgba(38, 198, 249, 0.12);
    p {
      flex: 1;
    }
    &:nth-child(even) {
      background: rgba(102, 108, 255, 0.12);
    }
  }
}
