.sidebar-container {
  padding: 40px;
  height: 100vh;
  .title {
    font-size: 24px;
  }
  .quickLink {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 20px 0;

    a {
      text-decoration: none;
      color: black;
      font-size: 20px;
    }
    .link {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
