@import "../../../css-config/mixins.scss";

.products-container {
  padding: 10px;
  .create-product-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    button {
      padding: 10px 20px;
      color: white;
      background-color: rgb(48, 106, 231);
      border: none;
      font-size: 18px;
      font-weight: 400;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
