@import "../../../css-config/mixins.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  
  .form {
    max-width: 400px;
    margin-top: 10px;
    width: 100%;
    height: 750px;
    border-radius: 50px;
    border: 2px solid red;
    padding: 20px;
    display: flex;
    background: #aa98a79c;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .title {
      font-size: 60px;
      font-weight: 600;
    }
    overflow: hidden;
    .form-body {
      display: flex;
      // justify-content: ;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      gap: 10px;
      .title-name {
        font-size: 20px;
        padding-right: 5px;
      }
      input {
        font-size: 18px;
        line-height: 1.2;
        color: #18171685;
        display: block;
        width: 100%;
        background: #8b3a7e;
        height: 62px;
        border-radius: 3px;
        padding: 0 30px 0 65px;
      }
      .focus-input {
        display: block;
        position: absolute;
        border-radius: 3px;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 0px 0px;
        color: rgba(148, 144, 146, 0.6);
      }
      button{
        padding: 15px 30px;
        font-size: 20px;
        font-weight: 600;
        outline: none;
        border-radius: none;
      }
      button:hover{
        background: red;
      }
    }
  }
  .social-login{
    .text-social{
      margin-bottom: 20px;
      font-size: 28px;
      font-weight: 600;
    }
  }
}
