@import "../../../css-config/mixins.scss";
.summary {
  width: 100%;
  // display: flex;
  
  @include lg {
    display: flex;
    gap: 10px;
  }
  .mainStats {
    flex: 2;
    width: 100%;
    @include sm {
     margin-bottom: 25px;
    }
    @include xs {
     margin-bottom: 25px;
    }
    .overView {
      background: rgb(48, 51, 79);
      color: rgba(234, 234, 255, 0.87);
      width: 100%;
      padding: 1.5rem;
      height: 170px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include md {
        padding: 1.5rem;
        height: 170px;
       }
      .title {
        font-size: 14px;
        color: rgba(234, 234, 255, 0.68);
      }
      .widgetWrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
    }
  }

  .sideStats {
    flex: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
